{{ define "main" }}
<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell--span-3"></div>
		<div class="mdc-layout-grid__cell--span-6">
			<header id="header">
				<h1> {{ .Title }} </h1>
			</header>
		</div>
	</div>
</div>
<div id="page">

	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">


			<div class="mdc-layout-grid__cell--span-2" id="icol"></div>

			<div class="mdc-layout-grid__cell--span-1">
				<div id="sidebar">
					{{ partial "navigation" .}}
				</div>
			</div>
			<div class="mdc-layout-grid__cell--span-6">
				<article id="content">

					<div class="post-content">{{ .Content | safeHTML }}</div>
					<div class="tags">
						{{ $taxonomy := "tags" }}
						{{ with .Param $taxonomy }}
						Tags [
						{{ range $index, $tag := . }}
						{{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
						<a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
						{{- end -}}
						{{- end -}}
						]
						{{ end }}
					</div>
					<p class="meta">Posted on <span class="postdate">{{ .Date.Format "02. January 2006" }}</span>
					</p>

				</article>
			</div>
			<div class="mdc-layout-grid__cell--span-3"></div>
		</div>
	</div>
	{{ end }}